.u-section-1 .u-sheet-1 {
  min-height: 1740px;
}

.u-section-1 .u-text-1 {
  margin: 11px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}